<h1>Ingredients</h1>

<% if @ingredients.nil? || @ingredients.empty? %>
    No ingredients in database.
<% else %>
    <%= pluralize(@ingredients.count, "ingredient")%> in database.
    <br><br>
<% end %>

<table class="table table-hover">
  <div class="row">
      <thead>
      <tr>
        <th class="col-md-4">Ingredient</th>
        <th class="col-md-4"># Recipes</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @ingredients.each do |ing| %>
          <tr>
            <td class="col-md-4"><%= link_to ing.name, ing %></td>
            <td class="col-md-4"><span class="badge"><%= ing.recipes.length %></span></td>
            <td></td>
          </tr>
      <% end %>
      </tbody>
  </div>
</table>
